---
# Only the main Sass file needs front matter (the dashes are enough)
---
@charset "utf-8";

$baseurl: "{{ site.baseurl }}";

// Font settings
$base-font-family:  "Cormorant Garamond", "Garamond", serif;
$base-font-size:    20px;
$base-font-weight:  500;
$small-font-size:   $base-font-size * 0.875;
$base-line-height:  1.4;

$title-font-family: "Bree Serif", $base-font-family;
$title-font-size:   85%;
$title-font-weight: 400;

$logo-font-family:  "dungeonfont", $base-font-family;
$logo-font-size:    160%;
$logo-font-weight:  300;

$banner-font-family: "optigibby", $base-font-family;
$banner-font-size-fallback: 300%;
$banner-font-size:   unquote("min(470%, 7.5vw)");
$banner-font-weight: bold;

// Colours
$base-grey:         #303036;
$black:             #141006;
$grey:              #828282;
$light-blue:        #eeeeff;
$light-grey:        #e8e8e8;
$red:               #992b40;
$sand:              #e0c6a3;
$white:             #ffffff;

// Object colors
$banner-background: $sand;
$banner-text:       $white;
$background-color:  $white;
$header-background: $base-grey;
$header-text:       $white;
$footer-background: $base-grey;
$footer-icons:      $white;
$footer-text:       $white;

$text-color:        $black;
$text-border:       $light-grey;
$link-text:         $base-grey;
$button-background: $red;
$button-text:       $white;
$post-meta-text:    $base-grey;
$quoted-text:       $grey;
$code-background:   $light-blue;

// Base sizes
$content-width:     800px;
$spacing-unit:      30px;

$on-palm:           600px;
$on-laptop:         800px;


// Use media queries like this:
// @include media-query($on-palm) {
//     .wrapper {
//         padding-right: $spacing-unit / 2;
//         padding-left: $spacing-unit / 2;
//     }
// }
@mixin media-query($device) {
    @media screen and (max-width: $device) {
        @content;
    }
}

// Import partials from `sass_dir` (defaults to `_sass`)
@import "fonts", "base", "layout";
