{% assign banner = site.data.general.banner %}
{% assign event = site.events.last %}
{% assign signup = site.data.general.signup %}
{% assign newsletter = site.data.general.newsletter %}
<section id="banner">
  {%- if event.image %}
    {%- if event.caption %}
      <div class="wrapper">
        <p>{{ event.caption | escape }}</p>
      </div>
    {%- endif %}
    <img src="{{ site.baseurl }}/assets/images/{{ event.image | escape }}" alt="{{ event.title | escape }}" />
  {%- elsif banner.default_image %}
    {%- if banner.default_caption %}
      <div class="wrapper">
        <p>{{ banner.default_caption | escape }}</p>
      </div>
    {%- endif %}
    <img src="{{ site.baseurl }}/assets/images/{{ banner.default_image | escape }}" alt="{{ site.title | escape }}" />
  {%- endif %}

  {%- if page.url == "/" %}
    <div class="sign-up">
      <div>
        {%- if event.form and event.date > site.time %}
          <a href="{{ site.baseurl }}/signup">
            <button title="{{ banner.signup_button_alt | escape }}">
              {{ banner.signup_button | escape }}
            </button>
          </a>
        {%- elsif banner.fallback_url %}
          <a href="{{ banner.fallback_url | escape }}">
            <button>
              {{ banner.fallback_button | escape }}
            </button>
          </a>
        {%- endif %}
        <a href="#" class="modal-open" data-modal="newsletter">
          <button title="{{ banner.newsletter_button_alt }}">
            {{ banner.newsletter_button | escape }}
          </button>
        </a>
      </div>
    </div>
  {%- endif %}
</section>

<div class="modal" id="newsletter-modal">
  <div class="modal-content">
    {% include newsletter_form.html %}
    <a href="#" class="modal-close" title="Close">
      <i class="fa-solid fa-square-xmark fa-lg"></i>
    </a>
  </div>
</div>
