{% assign footer = site.data.general.footer %}
<footer id="bottom">
  <section class="wrapper">
    <h2>{{ footer.title | escape }}</h2>

    <p>{{ footer.text | escape }}</p>

    <ul id="share-buttons">
      <li>
        <a href="mailto:{{ site.email | escape }}" title="{{ footer.mail_alt | escape }}">
          <i class="fa-solid fa-envelope fa-3x"></i>
        </a>
      </li>
      <li>
        <a href="{{ site.facebook | escape }}" title="{{ footer.facebook_alt | escape }}">
          <i class="fa-brands fa-facebook-square fa-3x"></i>
        </a>
      </li>
      <li>
        <a href="{{ site.discord | escape }}" title="{{ footer.discord_alt | escape }}">
          <i class="fa-brands fa-discord fa-3x"></i>
        </a>
      </li>
      <li>
        <a href="{{ site.gitlab | escape }}" title="{{ footer.gitlab_alt | escape }}">
          <i class="fa-brands fa-gitlab fa-3x"></i>
        </a>
      </li>
    </ul>

    <ul id="languages">
      {%- for lang in site.languages %}
        <li>
          <a{% if lang == site.active_lang %} class="active"{% else %} rel="alternate"{% endif %} hreflang="{{ lang }}" {% static_href %}href="{{ site.baseurl }}{% if lang != site.default_lang %}/{{ lang }}{% endif %}{{ page.url }}"{% endstatic_href %}>{{ site.data.general.languages[lang] | escape }}</a>
        </li>
      {%- endfor %}
    </ul>
  </section>
</footer>
