<head>
  <meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, minimum-scale=1.0, initial-scale=1.0" />

  <title>{% if page.title and page.url != "/" %}{{ page.title | escape }} • {% endif %}{{ site.title | escape }}</title>
  <meta name="description" content="{% if page.excerpt %}{{ page.excerpt | strip_html | strip_newlines | truncate:160 | escape }}{% else %}{{ site.description | escape }}{% endif %}" />

  <link rel="shortcut icon" type="image/vnd.microsoft.icon" href="{{ site.baseurl }}/favicon.ico" sizes="16x16 24x24 32x32 48x48 64x64" />
  <link rel="stylesheet" type="text/css" href="{{ site.baseurl }}/css/main.css" />
  <link rel="canonical" type="text/html" hreflang="{{ site.active_lang }}" href="{{ site.url }}{{ site.baseurl }}{{ page.url }}" />

  {%- for lang in site.languages %}
    <link rel="alternate" type="text/html" hreflang="{{ lang }}" {% static_href %}href="{{ site.url }}{{ site.baseurl }}{% if lang != site.default_lang %}/{{ lang }}{% endif %}{{ page.url }}"{% endstatic_href %} />
  {%- endfor %}

  <script type="text/javascript" src="{{ site.baseurl }}/assets/scripts/modal.js"></script>
  <script type="text/javascript" src="{{ site.baseurl }}/assets/scripts/laposta.js"></script>
  <script type="text/javascript" src="https://kit.fontawesome.com/9da4adc6d3.js" crossorigin="anonymous"></script>
</head>
