{% assign header = site.data.general.header %}
<header id="top">
  <section id="accessibility">
    <a href="#main">{{ header.skip_to_content | escape }}</a>
  </section>
  <section class="wrapper">
    <a id="site-title" href="{{ site.baseurl }}/">Ensche<i class="fa-brands fa-d-and-d-beyond fa-xs">D&amp;D</i></a>
    <nav typeof="SiteNavigationElement">
      <ul>
        <li>
          <a href="{{ site.discord | escape }}" title="{{ header.discord_alt | escape }}"><i class="fa-brands fa-discord"></i></a>
        </li>
        {%- for p in site.pages %}
          {%- if p.title and p.url != "/" and p.hidden != true %}
            <li>
              <a{% if page.url == p.url %} class="active"{% endif %} href="{{ site.baseurl }}{{ p.url }}">{{ p.title | escape }}</a>
            </li>
          {%- endif %}
        {%- endfor %}
      </ul>
    </nav>
  </section>
</header>
