{% assign newsletter = site.data.general.newsletter %}
{% if newsletter.title %}<h1>{{ newsletter.title | escape }}</h1>{% endif %}
{% if newsletter.description %}<p>{{ newsletter.description | escape }}</p>{% endif %}
<form method="post" class="laposta-form" data-laposta-action="{{ newsletter.laposta_name | escape }}" data-laposta-a="{{ newsletter.laposta_a | escape }}" data-laposta-l="{{ newsletter.laposta_l | escape }}" data-laposta-email="{{ newsletter.laposta_email_field | escape }}" data-laposta-name="{{ newsletter.laposta_name_field | escape }}">
  <input type="hidden" name="next" value="{{ site.url }}{{ site.baseurl }}{% if page.lang != site.default_lang %}/{{ page.lang }}{% endif %}{{ newsletter.laposta_next | escape }}" />
  <input type="hidden" class="laposta-a" />
  <input type="hidden" class="laposta-l" />
  <div>
    <label class="laposta-email">{{ newsletter.email_label | escape }}</label>
    <input type="email" class="laposta-email" required="required" />
  </div>
  <div>
    <label class="laposta-name">{{ newsletter.name_label | escape }}</label>
    <input type="text" class="laposta-name" required="required" />
  </div>
  <button type="submit">{{ newsletter.button | escape }}</button>
</form>
