/**
 * Base
 */

html, body {
    margin: 0;
    background-color: $background-color;
    font: $base-font-weight #{$base-font-size}/#{$base-line-height} $base-font-family;
    color: $text-color;
}

h1, h2, h3, h4, h5, h6,
p, blockquote, pre,
ul, ol, dl, figure {
    margin: 0 0 $spacing-unit/2;
}
ul, ol, dd {
    margin-left: $spacing-unit;
    padding: 0;
}
li {
    > ul, > ol {
        margin-bottom: 0;
    }
}
hr {
    margin: 0;
}

h1, h2, h3, h4, h5, h6 {
    font-family: $title-font-family;
    font-weight: $title-font-weight;

    > a, > a:visited {
        color: inherit;
    }
}
h1 {
    font-size: max(100%, $title-font-size * 2.6);
    line-height: normal;
    letter-spacing: -1px;

    @include media-query($on-laptop) {
        font-size: max(100%, $title-font-size * 2.3);
    }
}
h2 {
    font-size: max(100%, $title-font-size * 2.0);

    @include media-query($on-laptop) {
        font-size: max(100%, $title-font-size * 1.8);
    }
}
h3, .modal h1 {
    font-size: max(100%, $title-font-size * 1.6);

    @include media-query($on-laptop) {
        font-size: max(100%, $title-font-size * 1.4);
    }
}
h4, .modal h2 {
    font-size: max(100%, $title-font-size * 1.3);

    @include media-query($on-laptop) {
        font-size: max(100%, $title-font-size * 1.2);
    }
}
h5, h6, .modal h3, .modal h4 {
    font-size: max(100%, $title-font-size);
}

blockquote {
    padding-left: $spacing-unit/2;
    border-left: 4px solid $text-border;
    font-size: 110%;
    letter-spacing: -1px;
    font-style: italic;
    color: $quoted-text;

    > :last-child {
        margin-bottom: 0;
    }
}

img {
    max-width: 100%;
    vertical-align: middle;
}
figure {
    position: relative;

    > img {
        display: block;
    }
    figcaption {
        margin: 0;
        padding: 0 $spacing-unit/4;
        background-color: $text-color;
        background-color: transparentize($text-color, 0.5);
        text-align: left;
        font-size: $small-font-size;
        color: $background-color;
        position: absolute;
        bottom: 0;
        left: 0;
        right: 0;
    }
}

a {
    text-decoration: none;
    color: $link-text;

    &:visited, &:active {
        color: darken($link-text, 15%);
    }
    &:hover, &:focus, &:active {
        outline: none;
        text-decoration: underline;
    }
}

label {
    display: inline-block;
    min-width: 3*$spacing-unit;
}
input[type=text], input[type=email] {
    padding: 2px 4px;
    border: 1px solid $text-color;
    border-radius: 3px;
}
button {
    display: inline-block;
    margin-top: 0.5em;
    padding: 0.5em 1em;
    border: 0 none;
    border-radius: 5px;
    background-color: $button-background;
    text-align: center;
    text-decoration: none;
    font-family: $title-font-family;
    font-size: $title-font-size;
    font-weight: $title-font-weight;
    color: $button-text;
    cursor: pointer;

    &:hover, &:focus {
        background-color: darken($button-background, 10%);
    }
    &:active {
        background-color: darken($button-background, 15%);
    }
}
div {
    margin-bottom: 0.2em;
}

pre, code {
    border: 1px solid $text-border;
    border-radius: 3px;
    background-color: $code-background;
    font-size: 15px;
}
pre {
    padding: 8px 12px;
    overflow-x: auto;

    > code {
        border: 0;
        padding-right: 0;
        padding-left: 0;
    }
}
code {
    padding: 1px 5px;
}

.wrapper {
    @extend %clearfix;

    max-width: $content-width - 2*$spacing-unit;
    margin-right: auto;
    margin-left: auto;
    padding-right: $spacing-unit;
    padding-left: $spacing-unit;
    position: relative;

    @include media-query($on-laptop) {
        max-width: $content-width - $spacing-unit;
        padding-right: $spacing-unit/2;
        padding-left: $spacing-unit/2;
    }
}

.modal {
    display: none;
    height: 100%;
    width: 100%;
    background-color: transparentize($text-color, 0.25);
    z-index: 1;
    position: fixed;
    top: 0;
    left: 0;

    &.active {
        display: block;
    }

    .modal-close {
        text-decoration: none;
        position: absolute;
        top: 10px;
        right: 10px;
    }

    .modal-content {
        display: block;
        max-width: $content-width - 2*$spacing-unit - 2px;
        margin: 2*$spacing-unit auto;
        padding: $spacing-unit;
        background-color: $background-color;
        border: 2px solid $text-border;
        border-radius: 10px;
        box-shadow: 0 0 10px $black;
        position: relative;

        @include media-query($on-laptop) {
            margin-left: $spacing-unit;
            margin-right: $spacing-unit;
        }
    }

    @include media-query($on-palm) {
        height: 100%;
        width: 100%;
        background-color: $background-color;
        overflow: auto;

        .modal-content {
            margin: 0;
            border: 0 none;
            border-radius: 0;
            box-shadow: none;
        }
    }
}

%clearfix {
    &:after {
        content: "";
        display: table;
        clear: both;
    }
}
