/**
 * Site header
 */
#top {
    min-height: 3.2em;
    border-top: 5px solid $header-background;
    border-bottom: 1px solid $header-background;
    background-color: $header-background;
    position: relative;

    a, a:visited,
    nav, i:before {
        color: $header-text;
    }
    a:hover, a:focus,
    a:hover i:before, a:focus i:before {
        color: darken($header-text, 25%);
    }
    a:active,
    a:active i:before {
        color: darken($header-text, 35%);
    }

    nav {
        font-family: $title-font-family;
        font-size: $title-font-size;
        font-weight: $title-font-weight;
        float: right;
        padding: 1em 0;

        ul {
            margin: 0;
            list-style: none;
        }
        li {
            display: inline;

            &:not(:last-child):after {
                content: "|"
            }
        }
        a.active {
            font-weight: bold;
        }
        i {
            display: inline-block;
            min-width: 1.25em;
            text-align: center;
        }
    }
}

#accessibility {
    width: 100%;
    white-space: normal;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;

    a {
        padding: $spacing-unit/4 $spacing-unit/3;
        border: 1px solid $text-color;
        font-weight: bold;
        text-align: center;
        text-decoration: none;
        line-height: normal;
        background-color: $background-color;
        color: $text-color;
        position: absolute;
        top: $spacing-unit/2;
        right: 100%;
    }
    a:hover, a:focus {
        left: 1em;
        right: auto;
        color: $link-text;
    }
    a:active {
        left: 1em;
        right: auto;
        color: darken($link-text, 15%);
    }
}

#site-title {
    line-height: 175%;
    letter-spacing: -1px;
    text-transform: uppercase;
    font-family: $logo-font-family;
    font-size: $logo-font-size;
    font-weight: $logo-font-weight;

    &:hover, &:focus {
        text-decoration: none;
    }

    i {
        display: inline-block;
        width: 1em;
        height: 1.5em;
        line-height: 145%;
        vertical-align: text-top;
        color: $header-background;
        overflow: hidden;
        position: relative;

        &:before {
            overflow: visible;
            position: absolute;
            top: 0;
            left: 0;
        }

        &.fa-d-and-d-beyond {
            width: 2.7em;
            height: 1.3em;

            &:before {
                font-size: 600%;
                top: 50%;
                left: -97%;
            }
        }
    }
}

/**
 * Site footer
 */
#bottom {
    padding: 1.5*$spacing-unit 0;
    border-top: 1px solid $footer-background;
    background-color: $footer-background;
    font-size: 94%;
    line-height: normal;
    color: $footer-text;

    h2 {
        font-size: 130%;
    }
    a {
        color: $footer-text;

        &, &:visited {
            color: $footer-text;
        }
        &:hover, &:focus {
            color: darken($footer-text, 25%);
        }
        &:active {
            color: darken($footer-text, 35%);
        }
    }
    p {
        float: left;
        width: 40%;
    }
    ul {
        margin-left: 0;
        list-style: none;
    }
}

#share-buttons {
    font-family: $title-font-family;
    font-size: $title-font-size;
    font-weight: $title-font-weight;
    float: left;
    width: 33%;
    padding: 0 1%;

    li {
        display: block;
        float: left;
        min-width: $spacing-unit*2;
        padding-left: $spacing-unit/2;
        padding-bottom: $spacing-unit/2;
        text-align: center;

        &:nth-child(odd) {
            clear: left;
        }
    }
    a {
        color: $footer-icons;
    }
}

#languages {
    font-family: $title-font-family;
    font-size: $title-font-size;
    font-weight: $title-font-weight;
    float: left;
    width: 25%;

    li {
        display: inline;

        &:not(:last-child):after {
            content: "|"
        }
    }
    a.active {
        font-weight: bold;
    }
}

@include media-query($on-laptop) {
    #bottom p, #share-buttons {
        width: 70%;
        padding: 0;

        li:nth-child(odd) {
            clear: none;
        }
    }
    #languages {
        float: none;
        clear: left;
        width: 100%;
    }
}

@include media-query($on-palm) {
    #bottom p, #share-buttons, #languages {
        float: none;
        clear: left;
        width: 100%;
    }
}

/**
 * Page content
 */
#main {
    padding: 2*$spacing-unit 0;

    header {
        margin-bottom: $spacing-unit;

        p {
            font-size: $small-font-size;
            color: $post-meta-text;
        }
    }

    @include media-query($on-laptop) {
        padding-top: $spacing-unit;
    }
}

#banner {
    background-color: $banner-background;
    text-align: center;
    position: relative;

    img {
        max-height: 10*$spacing-unit + 10px;
    }
    p {
        width: 100%;
        margin: 0;
        padding-top: 5%;
        line-height: 125%;
        letter-spacing: 0.25em;
        text-align: left;
        text-transform: uppercase;
        text-shadow: 3px 3px 6px $black;
        font-family: $banner-font-family;
        font-size: $banner-font-size-fallback;
        font-size: $banner-font-size;
        font-weight: $banner-font-weight;
        color: $banner-text;
        position: absolute;
        top: 0;
        left: 0;

        @include media-query($on-laptop) {
            padding-left: 2%;
        }
    }

    .sign-up {
        width: 100%;
        text-align: center;
        background-color: #ffffff;

        div {
            display: inline-block;
            margin-bottom: -0.5em;
            border-radius: 10px;
            background-color: #ffffff;
            position: relative;
            top: -1*$spacing-unit;
        }

        a {
            display: inline-block;
        }

        button {
            padding: 1em 2em;
            margin-top: 0;
            border: 0 none;
            border-radius: 0;
            font-size: $title-font-size * 1.2;
        }

        @include media-query($on-laptop) {
            div {
                margin-bottom: -1*$spacing-unit;
                background-color: transparent;
            }

            a {
                display: block;
                margin-top: 0.2em;
            }

            button {
                border-radius: 10px;
            }
        }

        a:first-child button {
            border-top-left-radius: 10px;
            border-bottom-left-radius: 10px;
        }
        a:last-child button {
            border-top-right-radius: 10px;
            border-bottom-right-radius: 10px;
        }
    }
}

.events {
    list-style: none;
    margin-left: 0;

    li {
        display: block;
        float: left;
        width: 50%;
        height: 3*$spacing-unit;
        margin-bottom: $spacing-unit/2;
        overflow: hidden;

        a {
            display: block;
            height: 100%;
            margin-left: $spacing-unit/4;
            margin-right: $spacing-unit/4;
            background-color: $banner-background;
            text-align: center;
            position: relative;
        }
        p {
            margin: 0;
            padding: 0 $spacing-unit/4;
            background-color: $text-color;
            background-color: transparentize($text-color, 0.5);
            text-align: left;
            font-family: $title-font-family;
            font-size: $title-font-size * 0.9;
            font-weight: $title-font-weight;
            color: $background-color;
            position: absolute;
            bottom: 0;
            left: 0;
            right: 0;
        }
        time {
            float: right;
        }

        @include media-query($on-palm) {
            float: none;
            width: 100%;

            a {
                margin-left: 0;
                margin-right: 0;
            }
        }
    }
}

.posts {
    list-style: none;
    margin-left: 0;

    time {
        padding: 1px 5px;
        border: 1px solid $text-border;
        border-radius: 3px;
        font-size: 15px;
    }
}
