---
layout: default
---
<article property="mainEntity" typeof="SocialEvent">
  <meta property="inLanguage" content="{{ site.active_lang }}" />

  <header>
    <h1 property="name"><a property="url mainEntityOfPage" href="{{ site.baseurl }}{{ page.url }}">{{ page.title | escape }}</a></h1>
    {%- if page.image %}
      <figure>
        <img property="image" src="{{ site.baseurl }}/assets/images/{{ page.image | escape }}" alt="{{ page.title | escape }}" />
        {%- if page.caption %}
          <figcaption>{{ page.caption | escape }}</figcaption>
        {%- endif %}
      </figure>
    {%- endif %}
    <p>
      <time property="startDate" datetime="{{ page.date | date_to_xmlschema }}">{{ page.date | date: "%d-%m-%Y" }}</time>
      •
      <span property="organizer">{{ page.author | default:site.data.general.default_author | escape }}</span>
      {%- if page.form and page.date > site.time %}
        •
        <a href="{{ page.form | escape }}">
          {{ site.data.general.banner.signup_button | escape }}
        </a>
      {%- endif %}
    </p>
  </header>

  <section property="description">
    {{ content }}
  </section>
</article>
