---
layout: default
---
<article property="mainEntity" typeof="WebPageElement">
  <header>
    <h1 property="name headline"><a property="url mainEntityOfPage" href="{{ site.baseurl }}{{ page.url }}">{{ page.title | escape }}</a></h1>
  </header>

  <section>
    {{ content }}

    {{ site.events.last.content }}

    <p property="author creator copyrightHolder">{{ site.data.general.default_author | escape }}</p>
  </section>
</article>
