---
layout: default
---
<article property="mainEntity" typeof="WebPageElement">
  <header>
    <h1 property="name headline"><a property="url mainEntityOfPage" href="{{ site.baseurl }}{{ page.url }}">{{ page.title | escape }}</a></h1>
  </header>

  <section>
    {{ content }}
  </section>

</article>
