---
layout: default
---
<section property="mainEntity" typeof="WebPageElement">
  <header>
    <h1 property="name headline">{{ page.title | escape }}</h1>
  </header>

  {{ content }}

  <ul typeof="ItemList" class="posts">
    {%- for post in site.posts %}
      <li property="itemListElement" typeof="Article">
        <meta property="inLanguage" content="{{ site.active_lang }}" />
        <meta property="author creator copyrightHolder" content="{{ post.author | default:site.data.general.default_author | escape }}" />
        <time property="datePublished dateCreated dateModified" datetime="{{ post.date | date_to_xmlschema }}">{{ post.date | date: "%d-%m-%Y" }}</time>
        <a property="url mainEntityOfPage" href="{{ site.baseurl }}{{ post.url }}">
          <span property="name headline">{{ post.title | escape }}</span>
        </a>
      </li>
    {%- endfor %}
  </ul>
</section>
