---
layout: default
---
<article property="mainEntity" typeof="Article">
  <meta property="inLanguage" content="{{ site.active_lang }}" />

  <header>
    <h1 property="name headline"><a property="url mainEntityOfPage" href="{{ site.baseurl }}{{ page.url }}">{{ page.title | escape }}</a></h1>
    <p>
      <time property="datePublished dateCreated dateModified" datetime="{{ page.date | date_to_xmlschema }}">{{ page.date | date: "%-d %b %Y" }}</time>
      •
      <span property="author creator copyrightHolder">{{ page.author | default:site.data.general.default_author | escape }}</span>
    </p>
  </header>

  <section property="articleBody">
    {{ content }}
  </section>
</article>
