---
layout: default
---
{% assign event = site.events.last %}
{% assign signup = site.data.general.signup %}
<article property="mainEntity" typeof="WebPage">
  <meta property="inLanguage" content="{{ site.active_lang }}" />

  <header>
    <h1 property="name">
      <a property="url mainEntityOfPage" href="{{ site.baseurl }}{{ page.url }}">
        {%- if event.date <= site.time %}
          {{ signup.expired_title | default:signup.title | escape }}
        {%- elsif event.soldout and signup.soldout_title %}
          {{ signup.soldout_title | escape }}
        {%- else %}
          {{ signup.title | escape }}
        {%- endif %}
      </a>
    </h1>
  </header>

  <section>
    {%- if event.date <= site.time %}
      <p>{{ signup.expired_description | default:signup.description | escape }}</p>
    {%- elsif event.soldout and signup.soldout_description %}
      <p>{{ signup.soldout_description | escape }}</p>
    {%- elsif signup.description %}
      <p>{{ signup.description | escape }}</p>
    {%- endif %}
    {% if event.form and event.date > site.time %}
      <iframe title="{{ signup.form_title | escape }}" src="{{ event.form }}?embedded=true" frameborder="0" loading="lazy" width="100%" height="{{ event.form_height | default:'3200' }}" onload="window.parent.scrollTo(0,0)">
        <a href="{{ event.form | escape }}" target="_parent">{{ event.form | escape }}</a>
      </iframe>
    {% endif %}
  </section>
</article>
